*.egg-info
*.egg
*.mo
*.pyc
*.pyo
*~
.installed.cfg
.mr.developer.cfg
pip-selfcheck.json
bin/
coverage/
develop-eggs/
downloads/
eggs/
include/
lib/
lib64
parts/
var/
dist/
buildout-cache
local/
docs/_build
